/***** MAIN ELEMENTS ******/
* {
    box-sizing: border-box
}

html {
    height: 100%;
    
}

body {
    margin: 0 0 20px;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    font-family: 'Montserrat', 'Nunito Sans', sans-serif;
    color: #464646;
}

header {
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to bottom, #cc0000,  #ff8080 75%, lightgrey);
    
}

nav {
    width: 100%;
    height: 2em;
    margin: 0;
    padding-bottom: 10px;
    display: inline-block;
    float: left;
}

nav ul {
    text-align: center;
    margin: 0 25% 0 0;
    max-height: 100%;
    max-width: 100%;
    font-size: 10px;
    padding-left: 0;
    
}

nav li{
    display: inline-block;
    text-decoration: none;
/*    padding: 5px;*/
    background-color: #f6f6f6;
    color: #464646;
   /* border-top: 2px solid #9dbf8c;
    border-right: 2px solid #9dbf8c;
    border-bottom:  2px solid #9dbf8c;*/
    box-shadow: 5px 5px 5px 0;
    border-radius: 5px;
    list-style: none;
    margin: 0 auto;
/*    text-align: left;*/

    padding: 5px;
}

nav li:hover {
    background-color: #464646;
    color: #f6f6f6;
}


/******* ID'S ********/

#wrapper {
    height: 90%;
    width: 100%;

}


#heading-tag {
    display: inline-block;
    color: #464646;
    font-family: 'Montserrat', 'Nunito Sans', sans-serif;
    width: 20%;
    /*border: 2px outset black;*/
    margin-top: 3px;
    max-height: 100%; 
    float: left;
    
}

#logo {
    line-height: .85em;
    margin: 0 0 0 10%;
    border-width: 3px;
    border-left: 3px outset #464646;
/*    box-shadow:  0 0 20px 0 #565656;*/
    padding-left: 5px
    
}




.nav-div {
    width: 80%;
    margin: 20px 0 0;
    display: inline-block;
    float: left;
    height: 100;
}

/***   Header Icons*/

.headerIcons{
    height: 25px;
    width: 65px;
    float: right;
    margin: 0;
    padding: 0;
    
}

.headerIcons p {
    height: 20px;
    width: 35px;
    float: right;
    margin: 2px;;
    display: inline-block;
    font-size: 10px;
    padding: 2px;
    border-left: 2px solid #464646;
}

.headerIcons p:hover {
/*
    height: 25px;
    width: 40px;
*/
    float: right;
    margin: 2px;;
    display: inline-block;
    font-size: 12px;
    padding: 2px;
   
}

.headerIcons img {
    width: 20px;
    height: auto;
    display: inline-block;
    float: left;
}

.headerIcons img:hover {
    width: 25px;
    height: auto;
    display: inline-block;
    float: left;
}


/*** Home page *******

.index-section {
    width: 100%;
    height: 100%;
}




/***  Images ***/

.linear-gradient {
	width: 100%;
	opacity: .75;
    text-align: center;
    border: 2px solid black;
}

/*
div.push {
    padding-bottom: 10%;
}
*/

div#image {
    width: 50%;
    margin-right: 25%;
    margin-left: 25%;
}

h1 {
    margin: 0 auto;
    text-align: center;
    margin: 10px;
}

h2 {
    text-align: center;
    margin-bottom: 0;
    padding: 0 2%;
}

.homePage {
    margin: 0 auto;
    text-align: center;
}


section {
    height: 100%;
    width: 100%;
}






/*************************** Contact Page/*/
label {
    font-size: 12px;
}

input {
    border-radius: 2px;
    border: 1px groove lightgray;
    box-shadow: 0px 1px 1px ;
    width: 70%;
    margin-bottom: 1em;
}


/*
fieldset {
    border-color: #9dbf8c;
    border-radius: 5px;
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
    
}
*/

#contactSection {
    height: 100%;
    width: 100%;
    margin: 0;
}

#backgroundImage {
    background-image: url(images/contactPage.jpg);
    background-repeat: no-repeat;
    width: 80%;
    height: 100%; 
    float: left;
    border-radius: 5px;
    border-bottom: 2px solid lightgrey;
    border-right: 2px solid lightgray;
    border-top: 1px solid lightgray;
    box-shadow: 0 2px 5px 0;
    
}


.commentbox {
    border-radius: 5px;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
    float: right;
    background-color: azure;
    border-bottom: 2px solid lightgrey;
    border-right: 2px solid lightgray;
    box-shadow: 0 2px 5px 0;   
}

#comment {
    border-radius: 2px;
    border: 1px groove lightgray;
    box-shadow: 0px 1px 1px;
    width: 90%;
    height: 4em;
    margin: 2em 0 1em;
}

button {
    background-color: #00C957;
    border-radius: 5px;
    border: 1px groove lightgray;
    box-shadow: 0px 1px 1px;
    width: 40%;
    height: 40%;
    color: #464646;
    font-size: 1.2vw;
   
    
}

button:hover {
    background-color: #9AFF9A;
    width: 45%;
    height: 45%;
    border: 1px groove lightgray;
    
}

.contactIcons {
    width: 20%;
    height: 100%;
    float: right;
    margin-top: 5%;
}

.contactDiv {
    width: 40%;
    height: 10%;
    float: left;
    padding-top: 5px;
}

.contactDivParagraph {
    width: 60%;
    height: 10%;
    float: right;
    font-size: 8px;
    text-align: center;
}


.contactDiv img {
    width: 30px;
    height: 30px;
    float: right;
    display: inline-block;
}

.contactDiv img:hover {
    width: 35px;
    height: 35px;
    
}







/*   JavaScript */        


.edukit { 
    width: 22%;
   margin: 1%;
   display: block;
    font-family: Helvetica, Arial, sans-serif;
   border: 5px solid white;
    border-radius: 15%;
    float: left;
}


.resize { 
    width: 100%;
    border: 3px solid white;
    height: 300px;
}

#productCards:after {
    content="";
    display: table;
    clear: both;
}


/* Footers for Main page and product cards*/

.edukit footer {
    color: darkgreen;
    margin: 5%;
}

.edukit footer p {
    text-align: right;
}


.mainFooter {
    color: #464646;
    text-align: center;
    height: 5em;
    width: 100%;  
    background-image: linear-gradient(to top, #cc0000, #ff8080 70%, lightgray);
    margin-top: 5em;
    position: absolute;
}
 
.homeIcons {
    width: 100%;
    height: 50%;
    margin: 0;
}

.homeIcons img {
    height: 25px;
    width: 25px;
    margin: 8px;
}

.homeIcons img:hover {
    height: 55%;
    width: auto;
}




/* About Page*****************************************/

.bio {
    text-align: center;
    padding-top: 15px;
}