/***** MAIN ELEMENTS ******/
* {
    box-sizing: border-box
}

html {
    height: 100%;
    
}

body {
    margin: 0 0 20px;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    font-family: 'Montserrat', 'Nunito Sans', sans-serif;
    color: #464646;
}

header {
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to bottom, #cc0000,  #ff8080 75%, lightgrey);
    
}

nav {
    width: 100%;
    height: 2em;
    margin: 0;
    padding-bottom: 10px;
    display: inline-block;
    float: left;
}

nav ul {
    text-align: center;
    margin: 0 25% 0 0;
    max-height: 100%;
    max-width: 100%;
    font-size: 10px;
    padding-left: 0;
    
}

nav li{
    display: inline-block;
    text-decoration: none;
/*    padding: 5px;*/
    background-color: #f6f6f6;
    color: #464646;
   /* border-top: 2px solid #9dbf8c;
    border-right: 2px solid #9dbf8c;
    border-bottom:  2px solid #9dbf8c;*/
    box-shadow: 5px 5px 5px 0;
    border-radius: 5px;
    list-style: none;
    margin: 0 auto;
/*    text-align: left;*/

    padding: 5px;
}

nav li:hover {
    background-color: #464646;
    color: #f6f6f6;
}


/******* ID'S ********/

#wrapper {
    height: 90%;
    width: 100%;

}


#heading-tag {
    display: inline-block;
    color: #464646;
    font-family: 'Montserrat', 'Nunito Sans', sans-serif;
    width: 20%;
    /*border: 2px outset black;*/
    margin-top: 3px;
    max-height: 100%; 
    float: left;
    
}

#logo {
    line-height: .85em;
    margin: 0 0 0 10%;
    border-width: 3px;
    border-left: 3px outset #464646;
/*    box-shadow:  0 0 20px 0 #565656;*/
    padding-left: 5px
    
}

.nav-div {
    width: 80%;
    margin: 50px 0 0;
    display: inline-block;
    float: left;
    height: 100;
}







/*** Home page ********/

.index-section {
    width: 100%;
    height: 100%;
}




/***  Images ***/

.linear-gradient {
	width: 100%;
	opacity: .75;
    text-align: center;
    border: 2px solid black;
}

div.push {
    padding-bottom: 10%;
}

div#image {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}

h1 {
    margin: 0 auto;
    text-align: center;
}

h2 {
    margin: 0 auto;
    text-align: center;
}


section {
    height: 100%;
    width: 100%;
}


.mainFooter {
    background-color: #93DB70;
    color: #464646;
    text-align: center;
    height: 4em;
    width: 100%;  
    background-image: linear-gradient(to top, #cc0000, #ff8080 70%, lightgray);
    margin-top: 10em;
/*    position: absolute;
*/    padding-top: 2em;
}

/*** Contact Page/*/
label {
    font-size: 12px;
}

input {
    border-radius: 5px;
    border: 1px groove lightgray;
    border-color: black;
    box-shadow: 1px;
}


fieldset {
    border-color: #9dbf8c;
    border-radius: 5px;
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
    
}


.commentbox {
    text-align: center;
    border-color: black;
    border-radius: 5px;
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
    
}

button {
    background-color: white;
    border-radius: 5px;
    padding: 2px;
    
}

button:hover {
    background-color: #464646;
    color: #f6f6f6;
    
}

#comment {
    border-radius: 5px;
    border: 1px groove lightgray;
    border-color: black;
    box-shadow: 1px;
}


/*   JavaScript         */


.edukit { 
    width: 22%;
   margin: 1%;
   display: block;
    font-family: Helvetica, Arial, sans-serif;
   border: 5px solid white;
    border-radius: 15%;
    float: left;
}

 h2 {
    text-align: center;
    border-radius: 15%;
    padding: .75em;
    margin-top: 0;
    margin-bottom: 0;
}

.resize { 
    width: 100%;
    border: 3px solid white;
    height: 300px;
}

footer {
    color: darkgreen;
    margin: 5%;
}

footer p {
    text-align: right;
}

#productCards:after {
    content="";
    display: table;
    clear: both;
}


